.form__group,
.form__item {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.form textarea,
.form button {
  width: 100%;
}

.form button {
  background-color: var(--bg-primary);
  cursor: pointer;
}
