@use './reset';
@use './composition' as *;
@use './blocks' as *;
@use './utilities' as *;
@use './decor/' as *;

body {
  font-family: var(--ff-base), system-ui;
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  background-color: var(--bg-light);
  color: var(--text-dark);
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-xl);

  &[data-state='paragraph'] {
    font-size: var(--text-base);
    font-weight: 400;
  }
}

p {
  text-wrap: pretty;
}

input,
textarea {
  padding: var(--size-2xs);
  border: 1px solid var(--bg-primary);
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--bg-accent);
}
